<div class="formPane">
  <div class="formContent">
    <div class="formDiv">
      <h2 class="formHeader">Add Book Details</h2>
      <form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
          <div>
            <p for="name">Book Title</p>
            <input type="text" id="title"
              name="title"
              class="form-control"
              ngModel
              required/>
          </div>
          <div>
            <p for="side">Author</p>
            <input
              type="text"
              id="author"
              name="author"
              class="form-control"
              ngModel
              required/>
          </div>
          <div>
            <p for="side">Description</p>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              ngModel
              required/>
          </div>
          <div>
            <p for="side">Published</p>
            <input
              type="text"
              id="published"
              name="published"
              class="form-control"
              ngModel
              required/>
          </div>
          <br>
          <button [disabled]="createForm.invalid" class="btn buttonPrimary" type="submit">Add</button> &nbsp;
          <button class="btn buttonDanger" routerLink="/home">Cancel</button>
        </form>
      </div>
    </div>
  </div>