<p>Works</p>

<div style="margin-top: 50px; margin-left: 50px;">
    <h4>Update Book Details</h4>
    <form (ngSubmit)="updateBook(updateForm)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">Course Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.title"
          style="width: 400px"/>
      </div>
      <div class="form-group">
        <label for="side">Description</label>
        <input
          type="text"
          id="description"
          name="description"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.description"
          style="width: 400px"/>
      </div>
      <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>