h1{
    text-align: center;
    color: darkred;
}

.booksTable {
    width: 90%;
    margin-left: 5%;
    border-spacing: 0;
}

.booksTable th{
    background: #b8d1f3;
    border: none;
}

.booksTable tr{
    background: #b8d1f3;
    border: none;
    height: 55px;
}

.booksTable tr:nth-child(odd){ 
    background: #f1f3f5;
}

.booksTable tr:nth-child(even){
    background: #dae5f4;
}

