<div class="containerPane">
  <h1 *ngIf="!isUpdateActivated">Book Details</h1>
  <div *ngIf="!isUpdateActivated">
    <button class="btn buttonSuccess" routerLink="add-book" routerLinkActive="active" style="margin-left: 89%;">Add Book</button>
  </div>
  <br>
  <table *ngIf="!isUpdateActivated" class="booksTable">
    <thead >
      <tr>
        <th width="15%">Title</th>
        <th width="15%">Author</th>
        <th width="45%">Description</th>
        <th width="12%">Published</th>
        <th width="12%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books$ | async">
        <td scope="row">&nbsp;{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.description}}</td>
        <td>&nbsp;{{book.published}}</td>
        <td>
          <!--<button [routerLink]="['edit-book', book.id]">Edit</button> &nbsp; &nbsp;-->
          &nbsp;<button class="btn buttonPrimary" (click)="showUpdateForm(book)">Edit</button> &nbsp; &nbsp;
          <button class="btn buttonDanger" (click)="deleteBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isUpdateActivated" class="formPane">
    <div class="formContent">
    <div class="formDiv">
    <h2 class="formHeader">Update Book Details</h2>
    <form (ngSubmit)="updateBook(updateForm)" #updateForm="ngForm">
      <div class="form-group">
        <p for="name">Book Title</p>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.title"/>
      </div>
      <div class="form-group">
        <p for="side">Author</p>
        <input
          type="text"
          id="author"
          name="author"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.author"/>
      </div>
      <div class="form-group">
        <p for="side">Description</p>
        <input
          type="text"
          id="description"
          name="description"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.description"/>
      </div>
      <div class="form-group">
        <p for="side">Published</p>
        <input
          type="text"
          id="published"
          name="published"
          class="form-control"
          required
          [(ngModel)]="bookToBeUpdated.published"/>
      </div>
      <br>
      <button [disabled]="updateForm.invalid" class="btn buttonPrimary" type="submit">Update</button>
    </form>
    </div>
  </div>
  </div>
</div>